h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    background-color: rgb(222, 93, 93);
    padding: 2px;
    border-radius: 5px;
    color: white;
}

hr {
    text-align: center;
    height: 3px;
    background-color: black;
}