textarea {
    resize: none;
    width: 250px;
    height: 200px;
}

input {
    width: 250px;
}

button[type="submit"] {
    color: white;
    background-color: blue;
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 50px;
}

.form-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}