* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  padding: 40px;
  justify-content: center;
  background: #f4f4f4;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 16px;
}

#form-media-academica {
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 32px;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.1);
  width: clamp(300px, 35vw, 600px);
}

.form-group {
  display: flex;
  flex-flow: column nowrap;
}

.form-group label {
  color: rgba(0, 0, 0, 0.75);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.form-group input[type=number] {
  border: 1px solid rgba(0, 0, 0, 0.055);
  border-radius: 12px;
  padding: 8px;
}

button[type=submit] {
  background-color: rgb(59, 3, 190);
  padding: 8px;
  border: none;
  border-radius: 12px;
  color: white;
  margin-top: 8px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: rgb(41, 1, 133);
}

#resultado {
  border: 1px solid rgba(0, 0, 0, 0.055);
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}